@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');


// lilita one

// londrina solid

html, body {
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

.fs-0 {
    font-size: 2.5em;
    color: orange;
}

$secondary-color : #fe8017;
$third-color : rgb(249, 27, 11);

.bg-secondary {
    background-color: $secondary-color;
}

.text-third {
    color: $third-color;
}

ul {
    padding: 0 !important;
}

h2 {
    font-family: "Londrina Shadow";
}

.container-icons-menu{
    position: relative;
    // background-color: #ffffff;
    z-index: 9999;
    .bi {
        position: relative;
        color: #fd5122;
        clip-path: circle();
        background-color: rgb(253, 253, 250);
        padding: .13em;
    }
}

nav {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #e4e1e1, $alpha: .8);
    z-index: 999;
    ul {
        li {
            background-color: rgba($color: #e4e1e1, $alpha: .8);
            list-style: none;
            color: #fd5122;
            font-weight: 600;
            background-color: rgba(0,0,0,0);
            font-size: 1.2em;
            a {
                text-decoration: none;
                color: #fd5122;
                font-family: "Pacifico";
                font-weight: 300;
                font-style: normal;
            }
        }
    }
}

header {
    background-color: $secondary-color;
    overflow-x: hidden;
    img {
        background-color: whitesmoke;
        border-radius: 100%;
        width: 10rem;
        max-width: 60%;
        animation: rotate-brand 3s;
    }
    .offset-canvas{
        transform: translateX(100%);
        transition: transform .5s;
        &.open {
            transform: translateX(0);
        }
    }
}

.banner-home {
    background-color: rgba(0, 0, 0, 0.662);
    height: 100%;
    h2 {
        font-size: 1.5rem;
        color: white !important;
    }
}

footer {
    background-color: $secondary-color;
}

@media (width > 767px) {
    
    body {
        header{
            background-color: $secondary-color;
            height: auto;
            img {
                width: 17rem;
                max-width: 130px;
            }
            nav {
                background-color: $secondary-color;
                height: auto;
                ul {
                    margin: 0;
                    li {
                        font-size: 1.12rem;
                        a {
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
        .banner-home {
            h2 {
                font-size: 3.5rem;
                color: white !important;
            }
        }
    }
}

@keyframes rotate-brand {
    0% {
        transform: rotate(0);
        translate: -200px;
    }
    100% {
        transform: rotate(360deg);
        translate: 0;
    }
}







